.navbar-light{
    font-family: Verdana-Bold;
    color:rgb(227, 227, 227);
    background-color: rgb(85, 97, 160);
}

.navbar-light-nycct{
    font-family: Verdana-Bold;
    color: rgb(250, 250, 250);
    background-color: rgb(255, 215, 0);
}

.nav-link{
    color:rgb(227, 227, 227);
}

.nav-link-nycct{
    color:rgb(250, 250, 250);
}

.nav-link:hover{
    font-size: 17px;
    color: rgb(255, 247, 238);
}

.navbar-brand{
    font-size: 25px;
    color:rgb(227, 227, 227);
}

.navbar-brand-nycct{
    font-size: 25px;
    color:rgb(250, 250, 250);
}

.navbar-brand:hover, .navbar-brand:active:focus{
    font-size: 26px;
    color: rgb(255, 247, 238);
}

.breadcrumb-item{
    font-family:Verdana;
    font-weight: 500;
}

.btn-primary{
    font-family: Verdana-Bold;
    color:rgb(227, 227, 227);
    background-color: rgb(85, 97, 160);
    border-color:rgb(85, 97, 160);
}

.btn-primary:hover{
    background-color:rgb(63, 77, 143);
    border-color:rgb(63, 77, 143);
}

.btn-primary:active:focus{
    background-color:rgb(40, 54, 126);
    border-color:rgb(40, 54, 126);
}

.btn-primary-bc{
    font-family: Verdana-Bold;
    color:rgb(227, 227, 227);
    background-color: #800020;
    border-color:#800020;
}

.btn-primary-bc:hover{
    background-color: #6d001b;
    border-color:#6d001b;
}

.btn-primary-bc:active:focus{
    background-color: #5c0017;
    border-color:#5c0017;
}

.btn-primary-nycct{
    font-family: Verdana-Bold;
    color:rgb(250, 250, 250);
    background-color: rgb(255, 215, 0);
    border-color: rgb(255, 215, 0);
}

.btn-primary-nycct:hover{
    background-color: rgb(238, 203, 1);
    border-color:rgb(238, 203, 1);
}

.btn-primary-nycct:active:focus{
    background-color: rgb(228, 194, 0);
    border-color:rgb(228, 194, 0);
}

.btn-primary-kcc{
    font-family: Verdana-Bold;
    color:rgb(227, 227, 227);
    background-color: rgb(38, 38, 184);
    border-color:rgb(38, 38, 184);
}

.btn-primary-kcc:hover{
    background-color: rgb(31, 31, 156);
    border-color:rgb(31, 31, 156);
}

.btn-primary-kcc:active:focus{
    background-color: rgb(31, 31, 166);
    border-color:rgb(31, 31, 166);
}

.btn-primary-lcc{
    font-family: Verdana-Bold;
    color:rgb(227, 227, 227);
    background-color: rgb(226, 53, 53);
    border-color:rgb(226, 53, 53);
}

.btn-primary-lcc:hover{
    background-color: rgb(199, 45, 45);
    border-color:rgb(199, 45, 45);
}

.btn-primary-lcc:active:focus{
    background-color: rgb(163, 33, 33);
    border-color:rgb(163, 33, 33);
}

.input-group{
    background-color:rgb(236, 231, 227);
}

.filter-btn{
    font-family: Verdana;
    color: rgb(38, 38, 38);
    background-color: rgb(247, 246, 245);
}

.filter-btn-bc{
    font-family: Verdana;
    color: rgb(38, 38, 38);
    background-color: rgba(128, 0, 32, 0.5);
}

.filter-btn-bc:hover{
    background-color: rgba(128, 0, 32, 0.5);
}

.filter-btn-bc:active, .filter-btn-bc:focus{
    background-color: rgba(109, 0, 27, 0.5);
}

.sort-btn{
    font-family: Verdana;
    color: rgb(38, 38, 38);
    background-color: rgb(247, 246, 245);
}

.sort-btn-bc{
    font-family: Verdana;
    color: rgb(38, 38, 38);
    background-color: rgba(128, 0, 32, 0.5);
}

.sort-btn-bc:hover{
    background-color: rgba(128, 0, 32, 0.5);
}

.sort-btn-bc:active, .sort-btn-bc:focus{
    background-color: rgba(109, 0, 27, 0.5);
}

.content-header{
    font-family: Verdana-Bold;
    color: rgb(52, 52, 52);
    background-color: rgb(85, 97, 160, 30%);
}

.content-header-bc{
    font-family: Verdana-Bold;
    color: rgb(52, 52, 52);
    background-color: rgba(128, 0, 32, 0.7);
}

.content-header-nycct{
    font-family: Verdana-Bold;
    color: rgb(54, 54, 54);
    background-color: rgb(255, 215, 0, 0.7);
}

.content-header-kcc{
    font-family: Verdana-Bold;
    color: rgb(227, 227, 227);
    background-color: rgb(38, 38, 184, 0.8);
}

.content-header-lcc{
    font-family: Verdana-Bold;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 53, 53, 0.8);
}

.content-details{
    font-family: Verdana;
    color: rgb(74, 74, 74);
    background-color: rgb(236, 231, 227);
}

.header-margin-left{
    margin-left: 10px;
}

.details-margin-left{
    margin-left: 20px;
}

.dd-margin-left{
    margin-left: 10px;
}

.navbar-bc{
    font-family: Verdana-Bold;
    color: rgb(227, 227, 227);
    background-color: #800020;
}

.navbar-nycct{
    font-family: Verdana-Bold;
    color: rgb(250, 250, 250);
    background-color: rgb(255, 215, 0);
}

.navbar-kcc{
    font-family: Verdana-Bold;
    color: rgb(227, 227, 227);
    background-color: rgb(38, 38, 184);
}

.navbar-lcc{
    font-family: Verdana-Bold;
    color: rgb(227, 227, 227);
    background-color: rgb(226, 53, 53);
}

.dropdown-item:hover{
    background-color:rgb(246, 237, 227);
}

.club-header{
    font-family: Verdana-Bold;
    color: rgb(38, 38, 38);
    background-color: rgb(238, 235, 230);
}

.club-description{
    font-family: Verdana;
    color: rgb(38, 38, 38);
    font-size: 18px;
    margin-right: 10px;
}

.card-title{
    font-family:Verdana-Bold;
    font-size: 20px;
    color: rgb(38, 38, 38);
}

.card-text{
    font-family: Verdana;
    font-size: 16px;
    color: rgb(38, 38, 38);
}

.card{
    width: 18rem;
    background-color: rgb(238, 235, 230);
    margin: 5px;
    border-radius: 25px;
    border-color: transparent;
}

.card-img-top{
    border-radius: 25px;
}

.list-group-item{
    background-color: rgb(238, 235, 230);
    border-radius: 25px;
    margin: 15px;
}

.events-header{
    font-family: Verdana-Bold;
    color:rgb(38, 38, 38);
    font-size: 28px;
    margin-top:20px;
}






